body {
    background-color: $default-body-color;
}

*::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
    transition: all ease 0.3s;
    // background-color: $gray-1;
}

*::-webkit-scrollbar-thumb {
    width: 0.25rem;
    height: 0.25rem;
    background-color: $gray-4;
}

*:hover::-webkit-scrollbar-thumb {
    background: $gray-4;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}
